#visual studio
.vs

#compilation files
x64
Debug
Release

#build
[Bb]uild
[Bb]uilds

#git merge original files
*.orig

#archives
*.zip
*.rar
*.7z

#resources
[Aa]sset
[Aa]ssets
#[Rr]esources
!Engine/Project_P/include/resources
!Engine/Project_P/src/resources
!Engine/Project_P/resources/shaders

#images
*.png
*.jpg